{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="
    sustainable surfboard materials, eco-friendly surfboards,
    update on eco-friendly surfboard materials,
">
{% endblock %}

{% block page_header %}
<a href="#subscriber-form" class="sr-only sr-only-focusable">Skip to newsletter subscription form</a>
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h1 class="text-center logo-font mb-4">Shaping Sustainable Surf Newsletter</h1>
            <hr>
            <div class="mb-4">
                <h2 class="h4">Sign up for our newsletter and get your discount code!</h2>
                <p>We will be happy to update you on new tutorials, groundbreaking news in new eco-friendly sustainable surfboard materials, and our live interactive Q&A sessions.</p>
                <p>We send approx. 10 - 12 newsletters a year.</p>
            </div>
            <h3 class="h4">Newsletter Subscription Form</h3>
            <form action="{% url 'subscribe' %}" method="POST" id="subscriber-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="submit-button text-right mt-5 mb-2">
                    <button type="submit" class="btn btn-black rounded-0 mb-2">
                        <span class="font-weight-bold">Subscribe</span>
                        <span class="icon">
                            <i class="fa-regular fa-paper-plane"></i>
                        </span>
                    </button>
                </div>
            </form>

            <p class="text-muted">Check out our <a href="{% url 'privacy_policy' %}">privacy policy</a>.</p>
            <p class="text-muted">For any questions or concerns about you data privacy, contact us by email at <a href="mailto:{{ company_email }}" aria-label="Email us">{{ company_email }}</a> or
                use our <a href="{% url 'contact' %}">contact form</a>.</p>
            
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'newsletter/js/newsletter.js' %}"></script>
{% endblock %}
