{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="
    sustainable surfboard materials, eco-friendly surfboards,
    update on eco-friendly surfboard materials, newsletter,
">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'newsletter/css/newsletter.css' %}">
{% endblock %}

{% block head_title %}Subscribe to Newsletter{% endblock head_title %}

{% block skip_link %}
<a href="#sr-main-content" class="sr-only sr-only-focusable">Skip to main content</a>
<a href="#subscriber-form" class="sr-only sr-only-focusable">Skip to newsletter subscription form</a>
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h1 id="sr-main-content" class="text-center logo-font mb-4">Shaping Sustainable Surf Newsletter</h1>
            <hr>
            <h2 class="mt-4 mb-3">Sign up for our newsletter and get your discount code!</h2>
            <p>Be the first to know about new tutorials, groundbreaking news in new eco-friendly sustainable surfboard materials, and invites our live interactive Q&A sessions.</p>

            <h3 class="mt-4">Newsletter Subscription Form</h3>
            <form action="{% url 'subscribe' %}" method="POST" id="subscriber-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="submit-button text-right mt-5 mb-2">
                    <button type="submit" class="btn btn-outline-black btn-subscribe rounded-0 mb-2">
                        <span class="font-weight-bold">Subscribe</span>
                        <span class="icon">
                            <i class="fa-regular fa-paper-plane" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
            <p>For any questions or concerns about you data privacy, contact us by email at <a href="mailto:{{ company_email }}" aria-label="Email us">{{ company_email }}</a> or
                use our <a href="{% url 'contact' %}">contact form</a>.</p>
            
        </div>
    </div>
</div>

<!-- Privacy policy modal for accepted_terms checkbox -->
<div class="modal fade" id="privacyPolicyModal" tabindex="-1" aria-labelledby="privacyPolicyModalLabel" aria-hidden="true" data-privacy-policy-url="{% url 'privacy_policy' %}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="privacyPolicyModalLabel">Privacy Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="privacyPolicyContent" class="modal-body">
            <!-- Placeholder for privacy policy content loaded in with javascript -->>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Disclaimer modal for accepted_terms checkbox -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disclaimerModalLabel">Disclaimer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Disclaimer text for modal -->
                <p>You can unsubscribe from our newsletter at any time by clicking the unsubscribe link provided in the confirmation email and in every newsletter.</p>
                <p>We send newsletters max. once a month.</p>
                <p>Your email address will never be shared with third parties without your explicit consent.</p>
                <p>Upon unsubscription, your email address will be permanently deleted from our records.</p>
                <p>We are committed to complying with the EU General Data Protection Regulation (GDPR).</p>
                <p>
                    Please note that while we take measures to protect your data, 
                    no method of transmission over the internet or electronic storage is completely secure.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'newsletter/js/newsletter.js' %}"></script>
{% endblock %}
