{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="
    sustainable surfboard materials, eco-friendly surfboards,
    update on eco-friendly surfboard materials,
">
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h1 class="text-center logo-font mb-4">You are sucessfully unsubscribed!</h1>
            <hr>
            <p class="mb-4">You have been unsubscribed from our newsletter and your email address has been deleted from our database!</p>
            <p class="mb-4">You are welcome to sign up again at any time.</p>
            <div class="text-center mb-4">
                    <a href="{% url 'subscribe' %}" class="btn btn-outline-black rounded-0 btn-lg mb-2">
                        <span class="text-uppercase">Subscribe Again</span>
                    </a>
                    <a href="{% url 'tutorials_list' %}" class="btn btn-outline-black rounded-0 btn-lg mb-2">
                        <span class="text-uppercase">Browse Tutorials</span>
                    </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
