/* profile.html ----------------------------------------------------- */

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

.profile-form-input::placeholder {
    color: #aab7c4;
}

/* update_profile.html ------------------------------------------------- */

.error {
    border-color: var(--aubergine) !important;
}

.btn-delete {
    color: #fff;
    background-color: #dc3545 !important;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.btn-delete:hover,
.btn-delete:active,
.btn-delete:focus {
    color: #fff;
    background: #972430 !important;
    box-shadow: 1px -1px 7px 0 var(--aubergine);
    transform: scale(1.02);
}

.btn-cancel {
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:focus {
    background: #fbf7e5;
    border: 1px solid black;
    box-shadow: 1px -1px 7px 0 var(--yellow);
    transform: scale(1.02);
}

.btn-update {
    background-color: rgba(87, 167, 179, 0.70);
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.btn-update:hover,
.btn-update:active,
.btn-update:focus {
    background: rgba(101, 193, 207, 0.432);
    border: 1px solid black;
    box-shadow: 1px -1px 7px 0 var(--blue);
    transform: scale(1.02);
}

.btn-watch {
    height: 40px;
}

#profile-update-form .form-control {
    color: #000;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/* Media Query to stack buttons in button-group on small screens in base.css */
