{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Cart</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col" class="d-none d-sm-table-cell w-25">Products</th>
                            <th scope="col"></th>
                            <th scope="col" class="d-none d-sm-table-cell"></th>
                            <th scope="col">Price</th>

                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <!-- Hides table cell with product image on x-small screens -->
                        <td class="p-3 w-25 d-none d-sm-table-cell">
                            {% if item.product.image %}
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}"
                                alt="image for product {{ product.name }}">
                            {% else %}
                            <img src="{% static 'images/noimage.webp' %}" class="img-fluid rounded"
                                alt="No image yet for this product">
                            {% endif %}
                        </td>

                        <!-- Display image, product name and remove link with flex column properties to stack on x-small screens using custom css -->
                        <td class="py-3 text-wrap product-info-xs">
                            <div class="d-sm-none">
                                {% if item.product.image %}
                                <img class="img-fluid rounded mb-2" src="{{ item.product.image.url }}"
                                    alt="image for product {{ product.name }}">
                                {% else %}
                                <img src="{% static 'images/noimage.webp' %}" class="img-fluid rounded mb-2"
                                    alt="No image yet for this product">
                                {% endif %}
                            </div>
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <a class="remove-item text-danger d-sm-none" id="remove_{{ item.item_id }}">
                                <small><i class="fa-solid fa-xmark"></i> Remove</small>
                            </a>
                        </td>

                        <!-- Display remove link in a row on screen sizes small and up -->
                        <td class="py-3 d-none d-sm-table-cell">
                            <a href="{% url 'remove_from_cart' item.item_id %}" class="remove-item text-danger" id="remove_{{ item.item_id }}">
                                <small><i class="fa-solid fa-xmark"></i> Remove</small>
                            </a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h4 class="mt-4"><strong>Total: €{{ total|floatformat:2 }}</strong></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'tutorials_list' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Back to Tutorials</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            {% else %}
            <p class="lead mb-5">Your cart is empty.</p>
            <a href="{% url 'tutorials_list' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back to Tutorials</span>
            </a>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
