{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block head_title %}Shopping Cart{% endblock head_title %}

{% block skip_link %}
<a href="#sr-main-content" class="sr-only sr-only-focusable">Skip to main content</a>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col-12">
            <h1 id="sr-main-content">Shopping Cart</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col" class="d-none d-sm-table-cell w-25">Products</th>
                            <th scope="col"></th>
                            <th scope="col" class="d-none d-sm-table-cell"></th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <!-- Hides table cell with product image on x-small screens -->
                        <td class="p-3 w-25 d-none d-sm-table-cell">
                            {% if item.product.image %}
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}"
                                alt="image for product {{ product.name }}">
                            {% else %}
                            <img src="{% static 'images/noimage.webp' %}" class="img-fluid rounded"
                                alt="No image yet for this product">
                            {% endif %}
                        </td>

                        <!-- Display image, product name and remove-link with flex column properties to stack on x-small screens using custom css -->
                        <td class="py-3 text-wrap product-info-xs">
                            <div class="d-sm-none">
                                {% if item.product.image %}
                                <img class="img-fluid rounded mb-2" src="{{ item.product.image.url }}"
                                    alt="image for product {{ product.name }}">
                                {% else %}
                                <img src="{% static 'images/noimage.webp' %}" class="img-fluid rounded mb-2"
                                    alt="No image yet for this product">
                                {% endif %}
                            </div>
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <a class="remove-item text-danger d-sm-none nowrap" id="remove_{{ item.item_id }}"
                                role="button" aria-label="Remove {{ item.product.name }} from cart">
                                <small><i class="fa-solid fa-xmark" aria-hidden="true"></i> Remove</small>
                            </a>
                        </td>

                        <!-- Display remove link in a row on screen sizes small and up -->
                        <td class="py-3 d-none d-sm-table-cell">
                            <a href="{% url 'remove_from_cart' item.item_id %}" class="remove-item text-danger nowrap"
                                id="remove_{{ item.item_id }}" role="button"
                                aria-label="Remove {{ item.product.name }} from cart">
                                <small><i class="fa-solid fa-xmark" aria-hidden="true"></i>
                                    Remove
                                </small>
                            </a>
                        </td>

                        <td class="py-3">
                            <p class="my-0">
                                €{{ item.product.price }}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}

                    <!-- Display discount code if present -->
                    {% if discount_amount > 0 %}
                    <tr>
                        <td class="py-3">
                            <p class="my-0 ml-2 text-muted">Discount Code: {{ discount_code }}</p>
                            <a href="{% url 'remove_discount_code' %}" role="button" class="remove-item text-danger">
                                <small><i class="fa-solid fa-xmark" aria-hidden="true"></i>
                                    Remove Discount Code
                                </small>
                            </a>

                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td colspan="5" class="text-right">
                            <p>
                                Total: €{{ total|floatformat:2 }}
                            </p>
                        </td>
                    </tr>

                    {% if discount_amount > 0 %}
                    <tr>
                        <td colspan="5" class="text-right text-muted">
                            <p>
                                Discount Applied: - €{{ discount_amount }}
                            </p>
                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td colspan="5" class="text-right">
                            <h3><strong>
                                    Grand Total: €{{ grand_total|floatformat:2 }}
                                </strong></h3>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="5">
                            <!-- Form to enter discount code -->
                            <form method="POST" action="{% url 'view_cart' %}">
                                {% csrf_token %}
                                <div id="discount-field">
                                    {{ discount_form |crispy }}
                                    <button class="btn btn-outline-black rounded-0 mb-2" type="submit">
                                        Apply Discount
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'tutorials_list' %}" role="button"
                                class="btn btn-outline-black rounded-0 btn-lg mb-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left" aria-hidden="true"></i>
                                </span>
                                <span class="text-uppercase">
                                    Back to Tutorials
                                </span>
                            </a>
                            <a href="{% url 'checkout' %}" role="button" aria-label="Proceed to secure checkout"
                                class="btn btn-blue rounded-0 btn-lg mb-2">
                                <span class="text-uppercase">
                                    Secure Checkout
                                </span>
                                <span class="icon">
                                    <i class="fas fa-lock" aria-hidden="true"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mt-5 mb-5">
                Your cart is empty.
            </p>
            <a href="{% url 'tutorials_list' %}" role="button"
                class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left" aria-hidden="true"></i>
                </span>
                <span class="text-uppercase">
                    Browse Tutorials
                </span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
