{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="
    measure surfboard length, surfboard volume calculator, choosing the right size surfboard, 
    sustainable surfboard design, eco-friendly surfboard performance, 
    choosing the right surfboard blank, sustainable surfboard fins, shaping tutorial, surfboard tutorial
    eco-friendly surfboard fin systems, choosing the right fins for your surfboard, 
    sustainable surfboard tools, eco-friendly surfboard shaping supplies, 
    DIY surfboard building materials, surfboard shaping tools list, 
    sustainable longboard shaping, DIY eco-friendly longboard, DIY surfboard for beginners
">
{% endblock %}

{% block head_title %}Home{% endblock head_title %}

{% block content %}
<div class="d-flex flex-column h-100">
    <div class="animated-banner pt-4 pb-4">
        <a href="{% url 'subscribe' %}" role="button"
        aria-labelledby="banner-heading banner-description" class="text-decoration-none">
            <div class="banner-content">
                <p id="banner-heading" class="mr-4">Subscribe to our newsletter and get a €10 welcome discount!</p>
                <p id="banner-description" class="d-none d-md-block mr-4">
                    Stay tuned for our <strong>Live Q&A Sessions</strong> and more!
                </p>
                <button type="button" class="btn btn-newsletter btn-shadow-yellow">Subscribe Now!</button>
            </div>
        </a>
    </div>
    
    <div class="bg-image d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 my-auto">
                    <h1>
                        Welcome to <br> Shaping Sustainable Surf!
                    </h1>
                    <div class="my-5">
                        <h2>
                            <!-- Tutorials-button custom, rest bootstrap -->
                            <a href="{% url 'tutorials_list' %}"
                                class="btn browse-tutorials-button btn-lg rounded-0 text-uppercase py-3">
                                Browse Tutorials Now
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}