{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- h-100 height, my-auto vertically centered -->
    <div class="container h-100">
        <div class="row h-100 d-flex">
            <div class="my-auto">
                <!-- display-4 bootstrap, logo and text custom-->
                <h1 class="text-center">
                    Thank You for Subscribing to our Newsletter!
                </h1>
                <div class="my-5 text-center">
                    <h2>
                        Here is your welcoming discount code:
                    </h2>
                    <h2 class="my-5 mt-5 text-center"><strong>WELCOME10</strong></h2>
                    <p class="mt-5">Sincerely, Your Team at Shaping Sustainable Surf</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
