{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block head_title %}My Profile{% endblock head_title %}

{% block skip_link %}
<a href="#sr-main-content" class="sr-only sr-only-focusable">Skip to main content</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 id="sr-main-content" class="logo-font mb-4 mt-4 mt-lg-0">{{ profile.full_name|default:profile.user.username }}'s Profile</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <!-- User Profile Personal Information -->
        <div id="profile-info" class="col-12 col-lg-6 mb-5">
            <p class="text-muted">Personal Information</p>
            {% if profile.default_full_name %}
            <p class="text-muted mb-0">{{ profile.default_full_name }}</p>
            {% endif %}
            <p class="text-muted mb-0">{{ user.email }}</p>
            {% if profile.default_phone_number %}
            <p class="text-muted mb-0">{{ profile.default_phone_number }}</p>
            {% endif %}
            {% if profile.default_street_address1 %}
            <p class="text-muted mb-0">{{ profile.default_street_address1 }}</p>
            {% endif %}
            {% if profile.default_street_address2 %}
            <p class="text-muted mb-0">{{ profile.default_street_address2 }}</p>
            {% endif %}
            {% if profile.default_town_or_city %}
            <p class="text-muted mb-0">{{ profile.default_town_or_city }}</p>
            {% endif %}
            {% if profile.default_postcode %}
            <p class="text-muted mb-0">{{ profile.default_postcode }}</p>
            {% endif %}
            {% if profile.default_county %}
            <p class="text-muted mb-0">{{ profile.default_county }}</p>
            {% endif %}
            {% if profile.default_country %}
            <p class="text-muted mb-0">{{ profile.default_country }}</p>
            {% endif %}
            <a href="{% url 'update_profile' %}" class="btn btn-blue rounded-0 text-uppercase float-right mr-5" aria-label="Manage my personal profile information">
                Manage My Profile
            </a>
        </div>

        <!-- Order History -->
        <div class="col-12 col-lg-6">
            <p class="text-muted">Order History</p>
            {% if orders %}
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.items.all %}
                                    <li class="small">
                                        {{ item.product.name }}
                                    </li>
                                    <li class="small">
                                        € {{ item.product.price }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    {% if order.discount_code %}
                                    <li class="small">
                                        Discount Applied ({{ order.discount_code.code }})
                                        <span class="nowrap">- €{{ order.discount_code.amount }}</span>
                                    </li>
                                    {% endif %}
                                    <li class="small">
                                        ${{ order.grand_total }}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-muted">You have not made any orders yet.</p>
            {% endif %}
        </div>
    </div>

    <!-- Purchased Tutorials -->
    <div class="row">
        <div class="col">
            <h2>Your Purchased Tutorials:</h2>
            {% if profile.video_unlocked %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col" class="d-none d-sm-table-cell w-25"></th>
                            <th scope="col">Title</th>
                            <th scope="col" class="d-none d-sm-table-cell">Watch Tutorial</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        {% for item in order.items.all %}
                        {% if item.product and item.product.video_url %}
                        <tr>
                            <!-- Hides table cell with product image on x-small screens -->
                            <td class="p-3 w-25 d-none d-sm-table-cell">
                                {% if item.product.image %}
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}"
                                    alt="image for product {{ item.product.name }}">
                                {% else %}
                                <img src="{% static 'images/noimage.webp' %}" class="img-fluid rounded"
                                    alt="No image yet for this product">
                                {% endif %}
                            </td>

                            <!-- Display product name and video link (on small screens) -->
                            <td class="py-3 text-wrap">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <!-- Display image and video link on x-small screens -->
                                <div class="d-sm-none mt-2">
                                    {% if item.product.image %}
                                    <img class="img-fluid rounded mb-2" src="{{ item.product.image.url }}"
                                        alt="image for product {{ item.product.name }}">
                                    {% else %}
                                    <img src="{% static 'images/noimage.webp' %}" class="img-fluid rounded mb-2"
                                        alt="No image yet for this product">
                                    {% endif %}
                                    <a href="{{ item.product.video_url }}" target="_blank" rel="noopener noreferrer"
                                        aria-label="Opens in a new window" class="nowrap btn btn-blue btn-watch"><i class="fa-solid fa-video" aria-hidden="true"></i> Click Here to Watch Tutorial</a>
                                </div>
                            </td>

                            <!-- Watch Tutorial link (hidden on x-small screens) -->
                            <td class="py-3 d-none d-sm-table-cell">
                                <a href="{{ item.product.video_url }}" target="_blank" rel="noopener noreferrer"
                                    aria-label="Opens in a new window" class="nowrap btn btn-blue btn-watch"><i class="fa-solid fa-video" aria-hidden="true"></i> Click Here to Watch Tutorial</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <p>You have not purchased any tutorials yet.</p>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-12 col-lg-6 mb-5 mt-5">
        <a href="{% url 'tutorials_list' %}" class="btn btn-outline-black rounded-0 btn-lg mb-2">
            <span class="icon">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>
            </span>
            <span class="text-uppercase">Browse Tutorials</span>
        </a>
    </div>
</div>
</div>
{% endblock %}
