@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&display=swap');

/* Root variables for styles and color */
:root {
    /* Colors */
    --blue: #57a7b3;
    --green: #3d757d;
    --aubergine: #7D3D67;
    --yellow: #b3a357;
 
    --font-color: #333333;
    --background-color: #eef6f7;

    /* Box shadow and border styles */
    --blue-box-shadow: 1px -1px 7px 0 rgba(87, 167, 179, 0.70);
    --yellow-box-shadow: 1px -1px 7px 0 #b3a357;
    --black-box-shadow: 1px -1px 7px 0 #4E4A47;
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", sans-serif;
}

main {
    /* Push footer down */
    flex: 1 0 auto;
}

.text-black {
    color: var(--font-color) !important;
}

/* Accessibility screen reader */

.sr-only-focusable:focus {
    position: absolute;
    z-index: 2000;
    padding: 15px;
    background: white;
    color: black;
}

/* Style from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Header -------------------------------------------------------------*/

header {
    background: white;
    box-shadow: 0 2px 3px rgba(87, 167, 179, 0.70);
}

.header-container {
    /* Push content down from header */
    padding-top: 60px; 
}

.navbar {
    align-items: baseline;
}

.active {
    border-bottom: 4px groove rgba(173, 216, 230, 0.712);
    font-weight: 500;
}

.dropdown-menu .custom-dropdown-item.active,
.dropdown-menu .custom-dropdown-item:active {
  background-color: rgba(173, 216, 230, 0.712) !important;
  color: var(--font-color) !important;
}

#logo {
    width: 180px;
    height: 79px;
}

/* Main ---------------------------------------------------------------*/

.nowrap {
    white-space: nowrap;
}

.bluebox {
    box-shadow: var(--blue-box-shadow);
}

/* Skip links */
.sr-only-focusable {
    color: #0000FF;
}

/* index.html */

.small-pics {
    height: 8em;
    width: auto;
}

.browse-tutorials-button {
    width: 280px;
    font-weight: 500;
    background: var(--blue);
    border: 1px solid var(--font-color);
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.browse-tutorials-button:hover,
.browse-tutorials-button:active,
.browse-tutorials-button:focus {
    background: #87dae7;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

/* Buttons in main -----------------------------------------------------*/

/* Scroll-to-top button on 
products / tutorials_list, and 
about / custom_surfboards */
.btt-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    position: fixed;
    bottom: 150px;
    right: 10px;
    background: rgba(255, 255, 255, 0.548);
    padding: 0;
}

.btt-link {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
}

.btt-link:hover {
    cursor: pointer;
    text-decoration: none;
}

.btt-button i {
    line-height: 1;
}

/* Other buttons */

.btn-blue {
    background-color: rgba(101, 193, 207, 0.247) !important;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: rgba(87, 167, 179, 0.70) !important;
    border: 1px solid black;
    box-shadow: 1px -1px 7px 0 var(--blue);
    transform: scale(1.02);
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    box-shadow: 1px -1px 7px 0 hsla(188, 38%, 52%);
    transform: scale(1.02);
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
    background: rgba(101, 193, 207, 0.247);
    color: var(--font-color);
}

.border-black {
    border: 1px solid black !important;
}

.btn-shadow-yellow {
    box-shadow: var(--yellow-box-shadow);
    border: 0.2px solid var(--font-color);
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.btn-shadow-yellow:hover,
.btn-shadow-yellow:active,
.btn-shadow-yellow:focus {
    box-shadow: var(--blue-box-shadow);
    border: 0.2px solid var(--font-color);
    transform: scale(1.02);
}

.btn-newsletter {
    font-size: 1.05em;
    font-weight: 500;
    color: var(--font-color);
}

/* Forms Django allauth ---------------------------------------------- */

label[for="id_remember"] {
    margin-right: 30px; 
}

input[type="submit"], button[type="submit"] {
    background: rgba(101, 193, 207, 0.247);
    color: black !important;
    border: 1px solid black !important;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
button[type="submit"]:hover,
button[type="submit"]:active,
button[type="submit"]:focus {
    background: rgba(87, 167, 179, 0.70);
    border: 1px solid black !important;
    box-shadow: 1px -1px 7px 0 var(--blue);
    transform: scale(1.02);
}

body .allauth-content a {
    color: #0000FF !important;
}

body .allauth-content input[type="submit"], 
body .allauth-content button[type="submit"] {
    width: 150px;
    height: auto;
}

/* Toasts and messages -----------------------------------------------*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 5000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-preview-toast {
    margin-top: -0.8rem;
}

/* Footer -------------------------------------------------------------*/

footer {
    /* Stick footer to bottom */
    flex-shrink: 0;
    background-color: var(--background-color);
    border-top: 1px groove var(--yellow);
    margin-top: auto;
    color: var(--font-color);
}

footer li a {
    color: var(--font-color);
    display: inline-flex;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

footer li a:hover,
footer li a:active,
footer li a:focus,
footer li a.btn-newsletter:hover,
footer li a.btn-newsletter:active,
footer li a.btn-newsletter:focus {
    color: var(--background-color);
    background: var(--font-color);
    text-decoration: none;
    box-shadow: 1px -1px 7px 0 var(--blue);
}

footer li a.btn-newsletter {
    font-size: 1.05em;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    transform: scale(1);
}

footer li a.btn-newsletter:hover,
footer li a.btn-newsletter:active,
footer li a.btn-newsletter:focus {
    font-size: 1.07em;
    transform: scale(1.02);
}

/* Privacy Policy ---------------------------------------------------- */
a {
    color: #0000FF;
}

/* Media Queries ------------------------------------------------------ */

@media (min-width: 360px) {
    #logo {
        width: 220px;
        height: 79px;
    }
}

@media (max-width: 575.98px) {
    /* Stack product details on small screens */
    .product-info-xs {
      display: flex;
      flex-direction: column;
    }

    .product-info-xs img {
      margin-bottom: 10px;
    }

    /* Stack buttons on small screens */
    .button-group {
        width: 100%;
    }
    .button-group .btn {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    /* Animated eased transition of collapsable navbar content */
    .mobile-bg-white {
        transition: background-color 0.3s ease;
    }

    /* show bootstrap style*/
    .mobile-bg.show {
        background-color: white !important;
    }
}

@media (min-width: 992px) {
    #navbarSupportedContent {
      align-items: center;
    }
    
    .navbar .nav-link {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .header-container {
        /* Push content down from header */
        padding-top: 90px; 
    }
}


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    #logo {
        width: 260px;
        height: 94px;
    }
}
