<footer>
    <div class="container-fluid mt-2">
        <ul class="list-inline d-flex flex-wrap justify-content-between align-items-center">
            <li class="list-inline-item">
                <a href="https://github.com/g-omarsdottir/shaping-sustainable-surf" target="_blank" rel="noopener"
                    aria-label="visit the website developer's github page (opens in a new tab)">
                    <i class="fa-brands fa-github fa-2x"></i>
                </a>
            </li>
            <li class="list-inline-item"><a href="{% url 'privacy_policy' %}" target="_blank">Privacy Policy</a></li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="visit our facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook fa-2x"></i>
                </a>
            </li>
            <li class="list-inline-item"><a
                    href="{% url 'newsletter_success' %}"
                    target="_blank" aria-label="link to subscribe to newsletter form, opens in a new window">
                    Subscribe to Newsletter
                </a>
                </li>
        </ul>
    </div>
</footer>