{% load static %}

<header class="container-fluid fixed-top">
    {% with request.resolver_match.url_name as url_name %}
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light">

                <!-- Logo visibile on all screen sizes -->
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img id="logo" src="{% static 'images/logo.webp' %}" alt="Shaping Sustainable Surf Logo">
                </a>

                <!-- Toggler for navigation bar -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible navigation bar content from bootstrap template -->
                <div id="navbarSupportedContent" class="collapse navbar-collapse mobile-bg">
                    <ul class="navbar-nav ml-auto">

                        <!-- Search bar (code in products / views.py) -->
                        <li class="nav-item">
                            <form method="GET" action="{% url 'tutorials_list' %}" class="form-inline my-2 my-lg-0">
                                <!-- width 100, input group from bootstrap contains fontawesome search icon -->
                                <div class="input-group w-100">
                                    <label for="search-tutorials" class="sr-only">Search Tutorials</label>
                                    <!-- q for query -->
                                    <input id="search-tutorials" class="form-control border border-black rounded-0" type="text" name="q"
                                        placeholder="Search Tutorials">
                                    <div class="input-group-append">
                                        <button class="form-control btn border border-black rounded-0" type="submit" aria-label="Search">
                                            <span class="icon">
                                                <i class="fas fa-search" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>

                        <!-- Website navigation links -->
                        <li class="nav-item ml-2">
                            <a class="nav-link text-black {% if url_name == 'home' %}active{% endif %}"
                                aria-current="page" href="{% url 'home' %}">Home <span class="sr-only">(current
                                    page)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black {% if url_name == 'tutorials_list' %}active{% endif %}"
                                aria-current="page" href=" {% url 'tutorials_list' %}">Tutorials<span
                                    class="sr-only">(current page)</span></a>
                        </li>

                        <!-- About Us navigation links -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black {% if url_name == 'about_content' or url_name == 'custom_surfboards' or url_name == 'faq' or url_name == 'resources' %}active{% endif %}"
                                href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                About Us
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-black" aria-current="page"
                                    href="{% url 'about_content' %}">About Us<span class="sr-only">(current
                                        page)</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'custom_surfboards' %}">Custom Surfboards
                                    Collection<span class="sr-only">(current page)</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'faq' %}">FAQs<span class="sr-only">(current
                                        page)</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'resources' %}">Resources<span
                                        class="sr-only">(current page)</span></a>
                            </div>
                        </li>

                        <!-- Contact Form -->
                        <li class="nav-item">
                            <a class="nav-link text-black {% if url_name == 'contact' %}active{% endif %}"
                                aria-current="page" href="{% url 'contact' %}">Contact<span class="sr-only">(current
                                    page)</span></a>
                        </li>

                        <!-- My Account -->
                        <li class="nav-item dropdown">
                            <a class="text-black nav-link dropdown-toggle {% if url_name == 'profile' or url_name == 'account_logout' or url_name == 'account_signup' or url_name == 'account_login' %}active{% endif %}"
                                aria-current="page" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user fa-lg"></i> My Account<span class="sr-only">(current page)</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile<span
                                        class="sr-only">(current page)</span></a>
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout<span
                                        class="sr-only">(current page)</span></a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Sign-Up<span
                                        class="sr-only">(current page)</span></a>
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Sign-In<span
                                        class="sr-only">(current page)</span></a>
                                {% endif %}
                            </div>
                        </li>

                        <!-- Shopping cart -->
                        <li class="nav-item">
                            <a class="nav-link {% if total %}text-info {% else %}text-black{% endif %} {% if url_name == 'view_cart' %}active{% endif %}"
                                aria-current="page"
                                href=" {% url 'view_cart' %}">
                                <i class="fas fa-shopping-bag fa-lg"></i> Cart
                                <span class="sr-only">Shopping cart</span>
                                <p class="my-0">
                                    {% if total %}
                                    €{{ total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                                <span class="sr-only">(current page)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    {% endwith %}
</header>
