{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block title %}Internal Server Error{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-8 text-center">
            <h1 class="mt-5">Error 500 - Internal Server Error</h1>
            <p class="mt-3">Something went wrong.</p>
            
            <div class="mt-4">
                <img src="{% static 'images/500-error.webp' %}"
                    alt="An whimsical drawing of an octopus with spectacles holding a sign with 500 error" 
                    class="img-fluid" style="max-width: 300px;">
            </div>
            
            <div class="mt-5">
                <a href="{% url 'home' %}" class="btn btn-outline-black">
                    &laquo; Return to Homepage &raquo;
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}