{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="
    measure surfboard length, surfboard volume calculator, choosing the right size surfboard, 
    sustainable surfboard design, eco-friendly surfboard performance, 
    choosing the right surfboard blank, sustainable surfboard fins, 
    eco-friendly surfboard fin systems, choosing the right fins for your surfboard, 
    sustainable surfboard tools, eco-friendly surfboard shaping supplies, 
    DIY surfboard building materials, surfboard shaping tools list, 
    sustainable longboard shaping, DIY eco-friendly longboard, DIY surfboard for beginners
">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block head_title %}About Us{% endblock head_title %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">About Us</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <article>
                {% if about_content.image %}
                <div class="mb-3 text-center">
                    <div class="col-12 col-md-8 col-lg-6 mx-auto px-0">
                        <img src="{{ about_content.image.url }}" alt="{{ about_content.title }}"
                        class="img-fluid rounded-circle w-100">
                    </div>
                </div>
                {% endif %}
                <div class="content-wrapper">
                    {{ about_content.content|safe }}
                </div>
                <p class="small text-muted text-right">Last updated: {{ about_content.updated_at|date:"F d, Y" }}</p>
            </article>
        </div>
    </div>
    <div class="container fluid">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-12">
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="card custom-card about-card m-2" style="width: 18rem; flex: 0 0 auto;">
                        <div id="about-tutorial" class="card-body d-flex flex-column justify-content-between h-100">
                            <a href="{% url 'tutorials_list' %}" aria-labelledby="tutorals-page-link"
                                class="text-decoration-none">
                                <span id="tutorals-page-link">
                                    <span class="center-icon"><i class="fa-solid fa-video"></i></span>
                                    Browse through our <strong>Tutorials on shaping sustainable surfboards DIY</strong>.
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="card m-2 custom-card about-card" style="width: 18rem; flex: 0 0 auto;">
                        <div id="about-surfboard" class="card-body d-flex flex-column justify-content-between h-100">
                            <a href="{% url 'custom_surfboards' %}" aria-labelledby="surboards-collection-page-link"
                                class="text-decoration-none">
                                <span id="surboards-collection-page-link">
                                    <span class="center-icon"><i class="fa-solid fa-seedling"></i></span>
                                    Check out our <strong>collection of custom-made <span
                                            class="nowrap">eco-friendly</span>,
                                        sustainable surfboards</strong>.
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="card m-2 custom-card about-card" style="width: 18rem; flex: 0 0 auto;">
                        <div id="about-contact" class="card-body d-flex flex-column justify-content-between h-100">
                            <a href="{% url 'contact' %}" aria-labelledby="contact-page-link"
                                class="text-decoration-none">
                                <span id="contact-page-link">
                                    <span class="center-icon"><i class="fa-solid fa-hammer"></i></span>
                                    Do you want <strong>us to shape your
                                    sustainable surfboard?</strong> <br> Check out our convenient <br><strong>Contact Form</strong>.
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="card m-2 custom-card about-card" style="width: 18rem; flex: 0 0 auto;">
                        <div id="about-faq" class="card-body d-flex flex-column justify-content-between h-100">
                            <a href="{% url 'faq' %}" aria-labelledby="faqs-page-link" class="text-decoration-none">
                                <span id="faqs-page-link">
                                    <span class="center-icon"><i class="fa-solid fa-clipboard-question"></i></span>
                                    Check out our <strong>FAQs page</strong> for frequently asked questions on sustainable surfboards.
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="card m-2 custom-card about-card" style="width: 18rem; flex: 0 0 auto;">
                        <div id="about-resources" class="card-body d-flex flex-column justify-content-between h-100">
                            <a href="{% url 'resources' %}" aria-labelledby="resources-page-link"
                                class="text-decoration-none">
                                <span id="resources-page-link">
                                    <span class="center-icon"><i class="fa-solid fa-earth-oceania"></i></span>
                                    Check out our resources page to learn more about <strong>sustainability and ocean conservation</strong>.
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
