{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="
    measure surfboard length, surfboard volume calculator, choosing the right size surfboard, 
    sustainable surfboard design, eco-friendly surfboard performance, 
    choosing the right surfboard blank, sustainable surfboard fins, 
    eco-friendly surfboard fin systems, choosing the right fins for your surfboard, 
    sustainable surfboard tools, eco-friendly surfboard shaping supplies, 
    DIY surfboard building materials, surfboard shaping tools list, 
    sustainable longboard shaping, DIY eco-friendly longboard, DIY surfboard for beginners
">
{% endblock %}

{% block head_title %}About Us{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">About Us</h1>
    <div class="row d-flex justify-content-center flex-wrap">
        <div class="col-12 col-md-8 mb-4">
            <article>
                {% if about_content.image %}
                <img src="{{ about_content.image.url }}" alt="{{ about_content.title }}" class="img-fluid rounded mb-3">
                {% endif %}
                {{ about_content.content|safe|striptags }}
            </article>
        </div>
    </div>
    <div>
        <p class="small text-muted text-right">Last updated: {{ about_content.updated_at|date:"F d, Y" }}</p>
    </div>
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card custom-card m-2" style="width: 15rem;">
                    <div id="about-tutorial" class="card-body d-flex flex-column justify-content-between">
                        <a href="{% url 'tutorials_list' %}" aria-labelledby="tutorals-page-link" class="text-decoration-none"><span id="tutorals-page-link">Browse through our <strong>Tutorials</strong> on shaping sustainable surfboards DIY.</span></a>
                    </div>
                </div>
                <div class="card m-2 custom-card" style="width: 15rem;">
                    <div id="about-surfboard" class="card-body d-flex flex-column justify-content-between">
                        <a href="{% url 'custom_surfboards' %}" aria-labelledby="surboards-collection-page-link" class="text-decoration-none"><span id="surboards-collection-page-link">Check out our <strong>collection of custom-made <span class="nowrap">eco-friendly</span>, sustainable surfboards</strong>.</span></a>
                    </div>
                </div>
                <div class="card m-2 custom-card" style="width: 15rem;">
                    <div id="about-contact" class="card-body d-flex flex-column justify-content-between">
                        <a href="{% url 'contact' %}" aria-labelledby="contact-page-link" class="text-decoration-none"><span id="contact-page-link">Do you want us to shape your sustainable surfboard? <br> Visit our <strong>Contact page</strong> and use our convenient contact form.</span></a>
                    </div>
                </div>
                <div class="card m-2 custom-card" style="width: 15rem;">
                    <div id="about-faq" class="card-body d-flex flex-column justify-content-between">
                        <a href="{% url 'faq' %}" aria-labelledby="faqs-page-link" class="text-decoration-none"><span id="faqs-page-link">Check out our <strong>FAQs page</strong> for frequently asked questions.</span></a>
                    </div>
                </div>
                <div class="card m-2 custom-card" style="width: 15rem;">
                    <div id="about-resources" class="card-body d-flex flex-column justify-content-between">
                        <a href="{% url 'resources' %}" aria-labelledby="resources-page-link" class="text-decoration-none"><span id="resources-page-link">Learn more about <strong><span class="nowrap">eco-friendly</span>, sustainable surfboard materials and ocean conservation</strong>, visit out our resources page.</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
