{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="
    measure surfboard length, surfboard volume calculator, choosing the right size surfboard, 
    sustainable surfboard design, eco-friendly surfboard performance, 
    choosing the right surfboard blank, sustainable surfboard fins, 
    eco-friendly surfboard fin systems, choosing the right fins for your surfboard, 
    sustainable surfboard tools, eco-friendly surfboard shaping supplies, 
    DIY surfboard building materials, surfboard shaping tools list, 
    sustainable longboard shaping, DIY eco-friendly longboard, DIY surfboard for beginners
">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block head_title %}{{ surfboard.name }} - Custom Surfboard Details{% endblock head_title %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">{{ surfboard.name }} - Eco-Friendly Custom Surfboard Details</h1>
    <div class="row justify-content-center">
        <div class="col-md-7 mb-4 mb-md-0">
            {% if surfboard.image %}
            <img src="{{ surfboard.image.url }}" class="img-fluid rounded"
                alt="Detailed view of {{ surfboard.name }} custom surfboard">
            {% else %}
            <img src="{% static 'images/noimage.webp' %}" class="img-fluid rounded"
                alt="No image available for {{ surfboard.name }}">
            {% endif %}
        </div>
        <div class="col-md-5">
            <h2 class="h3 mb-3">Description</h2>
            <p>{{ surfboard.description|safe|striptags }}</p>
            <a href="{% url 'contact' %}" class="btn btn-blue rounded-0 mt-3 mt-md-5 d-block text-uppercase" role="button"
                aria-label="Contact us about {{ surfboard.name }}">
                Enquire About This Board!
            </a>
        </div>
    </div>
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-6 text-center">
            <a href="{% url 'custom_surfboards' %}" class="btn btn-outline-black rounded-0 float left" role="button">
                <span class="icon">
                    <i class="fas fa-chevron-left" aria-hidden="true"></i>
                </span>
                <span class="text-uppercase">
                    Back to Custom Surfboards
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
