{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}Custom Surfboard Detail{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Custom-Made Sustainably Shaped Surfboard in Detail</h1>
    <div class="row">
        <article class="d-flex flex-wrap justify-content-center mb-4">
            <div class="col-12 col-lg-6 mb-3">
                <!-- if image -->
            </div>
            <div class="col-12 col-lg-6">
                <div class="h-100">
                    <div class="d-flex flex-column justify-content-between">
                        <h2>name</h2>
                        <h3 class="text-muted">...</h3>
                        <h4 class="text-muted"">...</h4>
                        <p>...</p>
                        <p>description - safe</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <p>button</p>
    </div>
</div>
{% endblock %}
