{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="
    measure surfboard length, surfboard volume calculator, choosing the right size surfboard, 
    sustainable surfboard design, eco-friendly surfboard performance, 
    choosing the right surfboard blank, sustainable surfboard fins, 
    eco-friendly surfboard fin systems, choosing the right fins for your surfboard, 
    lca, life cycle analysis, recycled eps foam, cork surfboard, wood surfboard, bamboo surfboard
">
{% endblock %}

{% block head_title %}FAQs{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Frequently Asked Questions (FAQs)</h1>
    {% for faq in faqs %}
    <div class="row mb-4 mt-4">
        <div class="col-md-4">
            <h2><strong>Question:</strong> </h2>
            <h2 class="h5 font-weight-bold">{{ faq.question|safe }}</h2>
        </div>
        <div class="col-md-8">
            <h2><strong>Answer:</strong></h2>
            {{ faq.answer|safe }}
        </div>
    </div>
    {% if not forloop.last %}
        <hr>
    {% endif %}
{% empty %}
    <p class="text-center">No FAQs available at the moment.</p>
{% endfor %}
</div>
{% endblock %}
