{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="
    measure surfboard length, surfboard volume calculator, choosing the right size surfboard, 
    sustainable surfboard design, eco-friendly surfboard performance, 
    choosing the right surfboard blank, sustainable surfboard fins, 
    eco-friendly surfboard fin systems, choosing the right fins for your surfboard, 
    sustainable surfboard tools, eco-friendly surfboard shaping supplies, 
    DIY surfboard building materials, surfboard shaping tools list, 
    sustainable longboard shaping, DIY eco-friendly longboard, DIY surfboard for beginners
">
{% endblock %}

{% block page_header %}
<a href="#contact-form" class="sr-only sr-only-focusable">Skip to contact form</a>
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h1 class="text-center logo-font mb-4">Contact</h1>
            <hr>
            <p class="text-center">You can contact us at <a href="mailto:{{ company_email }}">{{ company_email }}</a> or
                use the contact form below.</p>

            <div class="mb-4">
                <h2 class="h4">Custom Surfboards</h2>
                <p>If you are looking for a custom-made surfboard, we encourage you to use the convenient contact form
                    below to guide you through the details necessary to shape your own custom surfboard.</p>
                <p>Feel free to leave fields empty as you please and we can discuss these details further along the way.
                    </p>
                    <p class="text-muted">Required fields are marked with *.</p>
            </div>

            <form action="{% url 'contact' %}" method="POST" id="contact-form">
                {% csrf_token %}
                <section aria-labelledby="general-contact">
                    <h2 id="general-contact" class="h5">General Contact Information</h2>
                    <fieldset class="mb-3 mt-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Your Contact Details</legend>
                        {{ contact_form.name|as_crispy_field }}
                        {{ contact_form.email|as_crispy_field }}
                        {{ contact_form.phone|as_crispy_field }}
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Regarding</legend>
                        <p id="category-description">Tutorials or Surfboards</p>
                        {{ contact_form.category|as_crispy_field }}
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Your Message to Us</legend>
                        {{ contact_form.subject|as_crispy_field }}
                        {{ contact_form.message|as_crispy_field }}
                    </fieldset>
                </section>

                <section aria-labelledby="custom-surfboard">
                    <h2 id="custom-surfboard" class="h5 mt-4 mb-4">The Path to Your Very Own Eco-Friendly Sustainably Shaped Surfboard</h2>
                    <fieldset class="mb-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Surfboard Details</legend>
                        <h3 class="h6 mt-3">Surfboard Type</h3>
                        {{ contact_form.board_type|as_crispy_field }}
                        <h3 class="h6 mt-3">Surfboard Tail Type</h3>
                        {{ contact_form.tail|as_crispy_field }}
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Volume & Length <span class="italic">(if known)</span></legend>
                        <h3 class="h6 mt-3">Surfboard Length (Feet & Inches)</h3>
                        {{ contact_form.board_length|as_crispy_field }}
                        <h3 class="h6 mt-3">Surfboard Volume (Liters)</h3>
                        {{ contact_form.board_volume|as_crispy_field }}
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Details to Calculate Volume & Length
                        </legend>
                        <h3 class="h6 mt-3">Your Body Height in Centimeters (cm)</h3>
                        {{ contact_form.body_height|as_crispy_field }}
                        <h3 class="h6 mt-3">Your Body Weight in Kilograms (kg)</h3>
                        {{ contact_form.body_weight|as_crispy_field }}
                        <h3 class="h6 mt-3">Your Skill Level</h3>
                        {{ contact_form.skill_level|as_crispy_field }}
                        <h3 class="h6 mt-3">Your Surf Style</h3>
                        {{ contact_form.surf_style|as_crispy_field }}
                        <h3 class="h6 mt-3">Intended Wave Size</h3>
                        {{ contact_form.wave_size|as_crispy_field }}
                        <h3 class="h6 mt-3">Intended Wave Power</h3>
                        {{ contact_form.wave_power|as_crispy_field }}
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Decorative Art & Color</legend>
                        <h3 class="h6 mt-3">Your Surfboard Color Theme</h3>
                        {{ contact_form.color_theme|as_crispy_field }}
                        <h3 class="h6 mt-3">Decorative Art Theme</h3>
                        {{ contact_form.art|as_crispy_field }}
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Further Remarks</legend>
                        {{ contact_form.remarks|as_crispy_field }}
                    </fieldset>
                </section>

                <div class="submit-button text-right mt-5 mb-2">
                    <button id="submit-message" class="btn btn-black rounded-0 mb-2">
                        <span class="font-weight-bold">Send Message</span>
                        <span class="icon">
                            <i class="fa-regular fa-paper-plane"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'contact/js/contact.js' %}"></script>
{% endblock %}
