@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&display=swap');

/* Root variables for styles and color */
:root {
    /* Colors */
    --blue: #57a7b3;
    --green: #3d757d;
    --pink: #b35794;
    --aubergine: #7D3D67;
    --yellow: #b3a357;
 
    --font-color: #333333;
    --background-color: #eef6f7;

    /* Box shadow and border styles */
    --blue-box-shadow: 1px -1px 7px 0 rgba(87, 167, 179, 0.70);
    --yellow-box-shadow: 1px -1px 7px 0 #b3a357;
    --black-box-shadow: 1px -1px 7px 0 #4E4A47;
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", sans-serif;
}

main {
    /* Push footer down */
    flex: 1 0 auto;
}

.text-black {
    color: var(--font-color) !important;
}

/* Style from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Header -------------------------------------------------------------*/

header {
    background: white;
    box-shadow: 0 2px 3px rgba(87, 167, 179, 0.70);
}

.header-container {
    /* Push content down from header */
    padding-top: 110px; 
}

.navbar {
    align-items: baseline;
}

.active {
    border-bottom: 4px groove rgba(173, 216, 230, 0.712);
    font-weight: 500;
}

#logo {
    width: 180px;
    height: auto;
}

/* Main ---------------------------------------------------------------*/

.browse-tutorials-button {
    background: lightblue;
    color: black;
    min-width: 260px;
}

.text-font {
    font-family: "Roboto Flex", sans-serif;
}

/* Turn cursor into pointer when hovering over links */
.product-list:hover, .remove-item:hover {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

/* Footer -------------------------------------------------------------*/
footer {
    /* Stick footer to bottom */
    flex-shrink: 0;
    background-color: var(--background-color);
    border-top: 1px groove var(--yellow);
    margin-top: auto;
    color: var(--font-color);
}

footer li a {
    color: var(--font-color)
}

/* Products --------------------------------------------------------------*/



/* Cart ---------------------------------------------------------------*/

#discount-field {
    width: 210px;
}

#discount-field input {
    width: 100%;
}

.custom-alert {
    color: var(--aubergine);
}

/* About Us-------------------------------------------------------------*/

.custom-card {
    box-shadow: var(--blue-box-shadow);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    overflow: hidden;
}

.custom-card a {
    color: var(--font-color);
}

.custom-card:hover {
    box-shadow: var(--yellow-box-shadow);
    transform: scale(1.05);
}

.card-link {
    text-decoration: none;
    color: var(--font-color);
    display: block;
}

.card-link:hover .custom-card {
    text-decoration: none;
    color: var(--font-color);
}

.card-img-container {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Contact*/

.fieldset-label {
    font-family: "Roboto Slab", sans-serif;
    width: auto;
    font-size: 1.2rem;  
    font-weight: 500;
    margin: 20px 0 10px -10px;
    color: var(--font-color);
}

/* Styles from walkthrough project */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 150px;
    right: 10px;
    background: rgba(255, 255, 255, 0.548);
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.browse-tutorials:hover,
.browse-tutorials:active,
.browse-tutorials:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-preview-toast {
    margin-top: -0.8rem;
}

/* Forms Django allauth ---------------------------------------------- */

label[for="id_remember"] {
    margin-right: 30px; 
}

input[type="submit"], button[type="submit"] {
    background: lightblue;
    padding: 5px;
}

/* -------------------------------- Media Queries */

@media (min-width: 360px) {
    #logo {
        width: 220px;
    }
}

/* Stacks product details on xs screens */
@media (max-width: 575.98px) {
    .product-info-xs {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    .product-info-xs img {
      margin-bottom: 10px;
    }
  }

@media (max-width: 991.98px) {
    /* Animated eased transition of collapsable navbar content */
    .mobile-bg-white {
        transition: background-color 0.3s ease;
    }

    /* show bootstrap style*/
    .mobile-bg.show {
        background-color: white !important;
    }
}

@media (min-width: 992px) {
    #navbarSupportedContent {
      align-items: center;
    }
    
    .navbar .nav-link {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    #logo {
        width: 260px;
    }
  }
