{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}Tutorials{% endblock head_title %}

{% block content %}
<div class="d-block text-center p-2 mt-5">
    <h1>Tutorials</h1>
</div>
<div class="container mt-5">
    <div class="row d-flex justify-content-center flex-wrap">
        {% for tutorial in tutorials %}
        <a href="{% url 'product_detail' tutorial.id %}" aria-label="Click to view details for tutorial: {{tutorial.name}}" class="text-decoration-none">
            <article class="col">
                <div class="card product-list mb-4" style="width: 18rem;">
                    {% if tutorial.image %}
                    <img src="{{ tutorial.image.url }}" class="card-img-top scale" alt="image for tutorial {{ tutorial.name }}">
                    {% else %}
                    <img src="{% static 'images/noimage.webp' %}" class="card-img-top scale"
                        alt="No image yet for this tutorial">
                    {% endif %}
                    <div class="card-body d-flex flex-column justify-content-between">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h2 class="card-title">{{ tutorial.name }}</h2>
                            </li>
                            <li class="list-group-item">
                                <h3 class="card-subtitle">{{ tutorial.category }}</h3>
                            </li>
                            <li class="list-group-item">
                                <h4 class="card-subtitle">{{ tutorial.subcategory }}</h4>
                            </li>
                            <li class="list-group-item">
                                <p class="card-subtitle">{{ tutorial.price }}</p>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text">{{ tutorial.description|truncatechars:50 }}.</p>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center">
                            <button class="btn border border-black rounded-0">&laquo; Click to View
                                Details &raquo;</button>
                        </div>
                    </div>
                </div>
            </article>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
